{{define "title"}}A templated page{{end}}

{{define "body"}}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Dummy Web App</h3>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading"><img src="https://github.com/kenazk/talks/raw/master/pug_london_may2017_lumogon/webapp_demo/goapp/templates/hacked.gif"></h1>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
{{end}}
